.env.local
.idea
.next
.vscode
.yalc
node_modules
reports
yalc.lock
sonar-project.properties
coverage
test-report.xml
yarn-error.log
**/.DS_STORE

.turbo
dist
app-build

# CSS modules
*.css.d.ts
*.css.d.ts.map
